body{
    background-color: #00a6a6;;
}

.head{
    display: flex;
    width: fit-content;
    margin: 26px auto;
    font-size: 33px;
    text-decoration: underline;
    color: #dbf9ff;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blogs{
    display: flex;
    width: 30vw;
    height: 30vw;
    border: 2px solid white;
    background: white;
    margin: 10px 0px;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 40px;
    transition: 0.5s;
}

.hover:hover{
    transform: scale(1.10);
}

.btn{
    border-radius: 20px;
    height: 51px;
    width: 203px;
    margin: 8px 62px;
    border-color: white;
    background: linear-gradient(171deg, white, #346f78);
}

.btn:active{
    background: linear-gradient(171deg, #346f78, white);
}

.dot{
    font-weight: bold;
}

.none{
    display: none;
}

.zoom{
    display: block;
    width: fit-content;
    height: fit-content;
}