<%- include("partials/header.ejs") %>
<form method="post" action="/submit">
    <input type="text" placeholder="Enter YouR name" name="name">
    <input type="text" placeholder="Enter Heading" name="heading">
    <textarea rows="4" cols="50" name="comment" ></textarea>
    <input type="submit">
</form>
<%- include("partials/footer.ejs") %>