<%- include("partials/header.ejs") %>
<div class="head">This is a blog Website</div>
<div class="postSection">
    <button class="btn">Create new Post</button>
</div>
<div class="content">
    <div class="blogs">
        <h1 class="blogh">Lorem ipsum dolor </h1>
        <p class="para"></p>
    </div>
    <div class="blogs"></div>
    <div class="blogs"></div>
    <div class="blogs"></div>
    <div class="blogs"></div>
    <div class="blogs"></div>
</div>

<%- include("partials/footer.ejs") %>